<button id="clearCart"> Clear Cart</button>
<a href="/fetchdish" > Click here to add more food</a>
<form method="POST" action="/updatecart">
    <table class="cart">
        <tr>
            <td> dish </td>
            <td> price </td>
            <td> quantity</td>
        </tr>
{{#each cartitems}}
    <tr>
    <tr>
    <td> {{dish}} </td>
    <td>  {{price}} </td>
    <td> <input type="text" name="{{dish}}" value="{{quantity}}" > </td>
    </tr>
{{/each}}
    </table>
    <div id="footer" class="cart">
Total Price is {{total_price}} <br>
<button type="submit"> Update Cart </button>
{{#if checkout }}
<button type="button" onclick="passEvent(event)" id="checkout"> Checkout</button>
{{/if}}
    </div>
</form>
<script src="./js/cart.js"></script>
